@import "tailwindcss";

.bgImg{
    background-image: url(./assets/images/heroImg.png);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* Hide scrollbar while preserving smooth scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}